In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
data = pd.read_json('/Users/semyonemakov/VK_Parser-1/people_close.json')
data.to_excel('/Users/semyonemakov/VK_Parser-1/excelina.xlsx')

In [74]:
players_with_groups = pd.read_json('/Users/semyonemakov/VK_Parser-1/people_open_with_groups.json')



list_of_groups = ['Fantasy Premier League', 'Omar Momani']


def get_name(group_info):
    try: 
        return group_info.get("NAME","") if group_info != "NaN" else ""
    except:
        return ""
    


flatten = players_with_groups.explode('GROUPS')

flatten['group_name'] = flatten['GROUPS'].apply(get_name)


filtred = flatten[flatten['group_name'].isin(list_of_groups)]


filtred.head()

,NUMBER,ID,LINK,CITY,AGE,GROUPS,group_name
2,3,26956,https://vk.com/id26956,Москва,36,"{'ID': 75099129, 'LINK': 'https://vk.com/publi...",Fantasy Premier League
2,3,26956,https://vk.com/id26956,Москва,36,"{'ID': 39911616, 'LINK': 'https://vk.com/publi...",Omar Momani
75,76,1323183,https://vk.com/id1323183,Москва,33,"{'ID': 39911616, 'LINK': 'https://vk.com/publi...",Omar Momani
87,88,1706159,https://vk.com/id1706159,Москва,32,"{'ID': 75099129, 'LINK': 'https://vk.com/publi...",Fantasy Premier League
147,148,3889814,https://vk.com/id3889814,Москва,0,"{'ID': 39911616, 'LINK': 'https://vk.com/publi...",Omar Momani

In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

def add_intersection_and_any(input_path, list_of_groups, output_path = ''):
    #read data
    players_with_groups = pd.read_json(path)

    def is_in_intersection(groups, list_of_groups = list_of_groups):
        return set(groups).intersection(set(list_of_groups)) == set(list_of_groups)

    def is_in_anyone(groups, list_of_groups = list_of_groups):
            return set(groups).intersection(set(list_of_groups)) != set({})

    #get names of groups
    players_with_groups['GROUPS_names'] = players_with_groups['GROUPS'].\
        apply(lambda lst: [get_name(x) for x in lst] )

    #add new columns to dataframe
    players_with_groups['intersection'] = players_with_groups['GROUPS_names'].apply(is_in_intersection)
    players_with_groups['is_in_any'] = players_with_groups['GROUPS_names'].apply(is_in_anyone)

    if output_path:
         players_with_groups.to_json(output_path)

    return players_with_groups

In [86]:
add_intersection_and_any('/Users/semyonemakov/VK_Parser-1/people_open_with_groups.json', list_of_groups)